.nav-menu {
  padding-top: 10px;
}
.container-body {
  width: 100% !important;
  padding: 10px;
}

.container-view-post {
  width: 100% !important;
}
.container-author {
  padding: 5px;
}

.imagenes-customs {
  width: 1295px !important;
  height: 221px !important;
  background-repeat: space;
}

.banner-img{
  margin-left: inherit !important;
}
/*@media all and (min-width: 769px){

} */

@media all and (min-width: 1025px) {
}

.container-post {
  text-align: center;
  border: 1px solid black;
  height: 150px;
  max-height: 150px;
  padding: 5px;
  border-radius: 20px 0px;
}
a,
a:hover,
a:active,
a:focus {
  color: white !important;
  text-decoration: none !important;
  
}
.nav-list > li > a {
  cursor: pointer;
  color: white !important;
  width: auto;
  border-color: white;
  float: none;
}

h1 {
  text-align: center;
  width: 100%;
  }
.title-h3 {
  margin: 24px 5px;
}
h2 {
  text-align: center;
  width: 100%;
}
h3 {
  text-align: center;
  width: 100%;
  color: black !important;
}
h5 {
    color:white !important;
}
p {
  text-align: center;
  width: 100%;
  color: black;
}
.center {
  margin: auto;
  width: 100%;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
}
.text-right {
  text-align: right;
}
.tex-bold {
  font-weight: bold;
}
.border-style {
  margin: 10px;
  width: 100%;
  border: solid black;
  padding: 10px;
}
.top-arriba {
  padding: 10px;
}

.item-post {
  height: 200px;
}

.menu-nav {
  display: inline-flex;
  top: 10px;
  text-align: center;
  width: 100%;
  background: black !important;
  border: black !important;
  float: none !important;
}

.home-border{
  border-right: 1px solid violet !important;
}
.nav-list > li {
  display: inline-block !important;
  float: none !important;
  flex-direction: none !important;
  border-right: 1px solid violet;
  width: 200px;
}
.nav-list > li:last-child{
  border-right: none;
}
.menu-div {
  background: black;
}

a:hover {
  color: white !important;
}
.menu-style{
  padding: inherit;
}

.bg-2 { 
  background-color: #474e5d; /* Dark Blue */
  
}

.body-word{
  color: black;
  

}
.menuDropdown{
  color: black !important;
}

.customsFooter{
  background-color: rgb(28, 35, 49);
}
.footer-copy{
  color: white;
}
.contenido-customs{
  color: white !important;
}
.footer-copyright{
  background-color: black;
}
.btn-fb{
  color: white;
  background-color: #3B5998;
}
.btn-tw{
  color: white;
  background-color: #55ACEE;
}
.btn-ins{
  color: white;
  background-color: #D87A68;
}
