
<div class="container">
        <table ng-show='showEdit' class="table">
            <thead>

              <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Comentario</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                 
                <td>{{parte.id}}</td>
                <td>{{parte.title}}</td>
                <td>{{parte.author}}</td>

                <td>
                  <button class="btn btn-warning" ng-click='editar()'>Modificar</button>
                  
                </td>
                </tr>
         </tbody>        
        </table>

        <table ng-show='!showEdit' class="table">
            <thead>

              <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Comentario</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                 
                <td>{{edit.id}}</td>
                <td><input ng-model='edit.title'></td>
                <td><input ng-model= 'edit.author'></td>

                <td>
                  <button class="btn btn-info" ng-click='guardar()'>Guardar</button>
                </td>
                </tr>
         </tbody>        
        </table>
        <a class="btn btn-success" href="#/app/posts">Volver</a>
        </div>